In [ ]:
#Reagan Berhe
#Assignment1
#09/08/2020

In [75]:
import pandas as pd                                                           #import modules to read file that is panda
import numpy as np 
students_file = pd.read_csv("../src/fallStudents.csv", delimiter='\t') #file dir for cvs file (change file type .tsv)
students_file                                                          #Display for csv file succesfully imprted

                      Student              Hash_id
0                Ali Altamimi -5827033472622716890
1        Harinderveer Badesha -2070052029797912257
2               Solomon Berhe -1099123881744416934
3        Christopher Brantley  -695993714492741554
4                Nadia Doudou -8293841509607106703
5             Andrew Kawabata -2295906907469740116
6               Jason Manning  6729191785026611246
7               Alex Penaloza  2819579966094765319
8               Francis Perez  7121637218959815285
9              Amantii Samson -2106861634941313976
10               Isaac Taylor  1411583132783385946
11           Quinn Tjin-a-soe  5111078232283153860
12           Katelynn Urgitus  -949226895385040933
13          Jamison Valentine -8010483234696604880
14         Tyler Wallschleger -1255795335168677361
15           Serena Wisnewski  4654136525107463358
16               Raiana Zaman  7742713733844653691
17               Himaja Avula -1277120681752197621
18           Harika Cherukuri -3305872199329515624
19               Mustafa Dere  5766488569524362599
20                 Renhua Guo -6491867970585459806
21  Rashmi Hassan Udaya Kumar  8962235084370848197
22                 Ritu Joshi   761861860507827969
23        Samhitha Kachapuram  -432922863203962415
24              Sanam Khalili -5958269882118250525
25          Shravya Muttineni  2534912611900926672
26            Nikitha Narsing  6496922049150786289
27      Vyankteshprasad Sathe  4125177016738157512
28                 Tingyu Shi  1130226862592949290
29               Carrie Stott  2942246989690436998
30      Pragna Tarali Talluri -5415828377393777804
31      Sadhana Thummalapenta -5860314708908377816
32            Amulya Yadagani  3578090679313790194
33                 Peter Yuan  7947615571241282039
34               Xinrui Zhang  4758487699251603117

In [93]:
#This function allow the user to insert their number of students the need
def input_value(numbers_of_group, number_of_students):
    number_of_students = student_file.count                             
    numbers_of_group = int(input("Enter number of group your choice: "))
    for numbers_of_group in range(number_of_students):
        return number_of_students//numbers_of_group
    group_idx = np.random.choice( x, replace=False, size= x)
    return student_file.iloc[group_idx]

In [ ]:
#This function create groups by the given number

In [ ]:
#This function write file on .csv file